div(class='footer-alig ed-grid m-grid-4 lg-grid-4 row-gap')

	include ../config/utilis/colums_footer/colums
	ul(class="footer-imgs")
		div
			img(src="assets/img/logo-mobile.png", alt="")
			img(src="assets/img/usa18.png", alt="")


	
		
