div(class='ed-grid m-grid-1 lg-grid-1 row-gap')
	div(class="m-mr-2 s-mb-2")
		img(class="images-main" src="assets/img/MasDe200.png", alt="")
	div(class="ed-grid m-grid-4 s-grid-1")
		img(class="images-main" src="assets/img/img_4Seasons.png", alt="")
		img(class="images-main m-cols-2 s-rows-2 m-x-2" src="assets/img/img_casinogames.png", alt="")
		img(class="images-main" src="assets/img/img_pinocho.png", alt="")
		img(class="images-main" src="assets/img/img_venus.png", alt="")
		img(class="images-main" src="assets/img/img_vegasRoad.png", alt="")
	div(class="ed-grid s-grid-1 m-grid-2 l-grid-4 m-mr-2 s-mb-2 row-gap")
		img(class="images-main m-cols-2 s-rows-2" src="assets/img/MasDe200.png", alt="")
		img(class="images-main" src="assets/img/MasDe200.png", alt="")
		img(class="images-main" src="assets/img/MasDe200.png", alt="")
		img(class="images-main" src="assets/img/MasDe200.png", alt="")
		img(class="images-main" src="assets/img/MasDe200.png", alt="")
	
