div(class="slider-container")
	div(class='tns-single sep-top' id='tnsSingle')
		div: div(class='tns-single__content'): img(src="assets/img/mlb.jpg", alt="mlb")
		div: div(class='tns-single__content'): img(src="assets/img/ufc.jpg", alt="ufc")
